<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="/stylesheet/landing.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<div id="landing">
    
<h1>Yelpcamp</h1>
<a href="/campground" class="btn btn-lg btn-success">Click To see All Camps</a>
</div>
<ul class="slideshow">
    
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
