<% include partials/header  %>
<div class="container">
    <div class="row">
        <div style="width:30%;margin: 25px auto;">
            <form action="/login" method="POST">
    <h1>
    Login!!!!
</h1>
    <input class="form-group" type="text" name="username" placeholder="username">
    <input class="form-group"  type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>
            </div>
            </div>
            </div>

<% include partials/footer %>